.CurrentWeather .weather {
  color: rgb(21, 35, 226);
}
.CurrentWeather .forecast {
  color: whitesmoke;
}
.CurrentWeather h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .CurrentWeather {
    font-size: 15px;
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
  }
}
