.WeatherData .todayWeather {
  padding-bottom: 30px;
  color: whitesmoke;
}
.WeatherData .humidity-element,
.wind-element {
  color: whitesmoke;

  font-weight: bold;
}
.WeatherData .currentTemp {
  font-size: large;
  font-weight: bold;
  color: whitesmoke;
}
.WeatherData h4 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .WeatherData {
    font-size: 15px;
    text-align: center;
  }
  .humidity-element,
  .wind-element,
  .CurrentTemp {
    font-size: 14px;
    text-align: center;
  }
}
